.chatlist-wrapper {
  background-color: #37474f;
  height: 100%;
  width: 250px;
  position: absolute;
  left: 3.7rem;
  top: 0;
  padding-left: 2.5rem;
  padding-top: 1.2rem;
  padding-right: 2.5rem;
  color: white;

  h1 {
    text-align: left;
    margin-bottom: 1.3rem;
    margin-top: 0.1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.3rem;
  }
  .css-b62m3t-container {
    color: black;
  }
}
