.send-message-container {
  position: fixed;
  bottom: 0;
  left: 25rem;
  width: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

input.send-message-input {
  flex-grow: 1;
  height: 40px;
  border-radius: 9px;
  border: 1px solid #b4b4b4;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: #eceff1;

  &::placeholder {
    font-style: italic;
    color: #b4b4b4;
  }

  font-style: normal;
}

.send-message-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  color: #263238;
}

.css-b62m3t-container {
  color: black;
}

.recent-conversation-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.delete-button {
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
}

.recent-conversation-item:hover {
  background-color: #42555f;
  .delete-button {
    opacity: 1;
    background-color: #42555f;
  }
}
