.sidebar-wrapper {
  background-color: #263238;
  height: 100%;
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.63rem;
}

.common-glow-effect {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  color: white;
  background-color: #37474f;
  font-weight: bold;
  font-size: 1.2rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0cce6b;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }

  &:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #0cce6b;
  }

  &:hover {
    color: #0cce6b;
    box-shadow: 0 0 5px #0cce6b;
    text-shadow: 0 0 5px #0cce6b;
  }
}

.channel-item {
  @extend .common-glow-effect;
  margin-bottom: 5px;
  cursor: pointer;
}

.channel-item.selected {
  color: #0cce6b;
  box-shadow: 0 0 5px #0cce6b;
  text-shadow: 0 0 5px #0cce6b;
}

.logout-button,
button.create-channel-button {
  position: absolute;
  bottom: 3.5rem;
  cursor: pointer;
  font-size: 0.75rem;
}

button.create-channel-button {
  bottom: 7.5rem;
  font-size: 0.8rem;
}

.logout-button {
  color: #0cce6b;
  background-color: #37474f;
  border: none;
  position: absolute;
  bottom: 3.5rem;
  margin-right: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 0.75rem;
  @extend .common-glow-effect;
}

button.create-channel-button {
  position: absolute;
  bottom: 7.5rem;
  margin-right: -1rem;
  color: #0cce6b;
  background-color: #37474f;
  border: none;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 0.8rem;
  @extend .common-glow-effect;
}

.context-menu-item:hover {
  background-color: #f0f0f0;
  color: #333;
}

.context-menu-item {
  padding: 5px;
  text-align: center;
  width: 100%;
}

.home-button {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  color: #0cce6b;
  background-color: #37474f;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  @extend .common-glow-effect;
  margin-bottom: 5px;
}
