@use "components/Partials/reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "components/Partials/sidebar";
@import "components/Partials/chatlist";

* {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: "Montserrat", sans-serif;
  background-color: #d6d6d6;
  overflow: hidden;
}

@import "components/Partials/registerform";
@import "components/Partials/dmpage";
@import "components/Partials/chatheader";
