@use "components/Partials/reset";

@import "components/Partials/sidebar";
@import "components/Partials/chatlist";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

@import "components/Partials/registerform";
